* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.8s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

.app {
  width: 100%;
  max-width: 1100px;
}

.app-title {
  text-align: center;
  color: white;
  margin-bottom: 30px;
  font-size: 2.5rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 25px;
}

.weather-card {
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  color: white;
  padding: 30px;
}

.weather-card h2 {
  margin-bottom: 20px;
  text-align: center;
}

.weather-input {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.weather-input input {
  padding: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.weather-input button {
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #2563eb;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.weather-input button:hover {
  background: #1d4ed8;
}

.weather-result {
  margin-top: 20px;
}

.weather-result p {
  margin: 10px 0;
  font-size: 1.1rem;
  font-weight: 500;
}
